

<div class="banner">
  <div class="banner-content">
    <h1>Joti's Cocktails</h1>
    <p>If you are stress, have a drink (before shooting yourself)</p>
    <%= link_to 'Create New Cocktail', new_cocktail_path, class: 'btn btn-primary btn-lg'  %>
  </div>
</div>

<div class="image" style="background-image: linear-gradient(-225deg, rgba(48,27,27,0.2) 25%, rgba(3,0,61,0.4) 50%), url('https://images.unsplash.com/photo-1517620114540-4f6a4c43f8ed?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1750a6bc655070f8295a1ddf872a4c7c&auto=format&fit=crop&w=1350&q=80');"></div>


<h1>Menu:</h1>

<div class="container">

  <div class="row">

    <% @cocktails.each do |c| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://picsum.photos/500/?random');">

        <div class="card-category"><%= c.name %></div>
      </div>
      <%= link_to '', cocktail_path(c), class: 'card-link' %>

    </div>
    <% end %>
  </div>
</div>


